
    *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}
.wrapper header 
{
    font-size: 2rem;
    font-family: Poppins;
}
.wrapper i 
{
    color: yellowgreen;
    font-size: 20px;
}
.wrapper form button 
{
    height: 1cm;
    width: 3.5cm;
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #123;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
}
.wrapper form button:hover 
{
    opacity: 0.8;
}
.wrapper
{
    height: 20cm;
    width: 15cm;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 5px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.wrapper input 
{
    height: 1cm;
    width: 80%;
    border-radius: 8px;
    border: 2px solid silver;
    outline: none;
    margin: 20px;
    font-family: Open Sans;
    font-size: 16px;
}
.wrapper input:focus 
{
    border: 2px solid dodgerblue;
}
.wrapper form 
{
    width: 100%;
    gap: 20px;
    padding-top: 20px;
}
a {
    position:absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
}
